{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'clientes/css/cliente.css'%}">
    <link rel="stylesheet" href="{% static 'servicos/css/lista_servico.css'%}">

{% endblock %}

{% block 'dashboard' %}
<br>
<br>
    <div class="container distanciado">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Protocolo</th>
              <th scope="col">Titulo</th>
              <th scope="col">Cliente</th>
              <th scope="col">Status</th>
              <th scope="col">Preço Total</th>
            </tr>
          </thead>
          <tbody>

            {% for valor in servicos %}
                <tr>

                    <th>{{ valor.protocolo }}</th>
                    <td>{{ valor.titulo }}</td>
                    <td>{{ valor.clientes }}</td>
                    <td>

                    {% if valor.finalizado %}
                        <span class="badge-success">Finalizado</span>
                    {% else %}
                        <span class="badg badge-info">Em manuntenção</span>
                    {% endif %}

                    </td>

                    <td>R$ {{ valor.preco_total }}</td>


                </tr>

            {% endfor %}


          </tbody>
        </table>
    </div>

{% endblock %}